*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 500px;
    text-align: center;

}

.content input{
    width: 400px;
    height: 40px;
    margin: 15px;
}

#newBook {  
    margin: 30px 0;
    padding: 15px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    
}

#newBookForm{
    border: 1px solid black;
    padding: 20px;
}

#read{
    height: 15px;
}
.book-card{
    margin: auto;
    border: 1px solid black;
    font-size: 22px;
    align-items: center;
    width: 200px;
    height: 150px;
    
}
